<configuration>
	<!-- context name for the application -->
	<contextName>daito</contextName>

	<property name="log.dir" value="log" />
	<property name="log.file" value="statistic" />
	<property name="console.level" value="WARN" />
	<!-- Message pattern -->
	<property name="message.pattern" value="%d %level %mdc [%thread] %logger{0} %ex - %msg%n" />

	<!-- use console output only -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${console.level}</level>
		</filter>
		<encoder>
			<pattern>${message.pattern}</pattern>
		</encoder>
	</appender>
	<!-- hibernate statistic -->
	<appender name="hibernateStatisticFile"
		class="ch.qos.logback.core.FileAppender">
		<File>${log.dir}/${log.file}-hibernate.log</File>
		<append>true</append>
		<encoder>
			<Pattern>${message.pattern}</Pattern>
		</encoder>
	</appender>
	
	<!-- QRE Statistic -->
	<appender name="qreStatisticFile"
		class="ch.qos.logback.core.FileAppender">
		<File>${log.dir}/${log.file}-qre.log</File>
		<append>true</append>
		<encoder>
			<pattern>${message.pattern}</pattern>
		</encoder>
	</appender>

	<!-- Logger definition -->
	<logger name="com.csc.qre.core.loggers.Statistics" level="INFO">
		<appender-ref ref="qreStatisticFile" />
	</logger>
	<logger name="org.hibernate.stat.Statistics" level="INFO">
		<appender-ref ref="hibernateStatisticFile" />
	</logger>

	<root level="${console.level}">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>