<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="helloWorld" class="com.tutorialspoint.HelloWorld">
       <property name="message" value="Hello World!"/>
   </bean>

	<!-- Ví dụ về liên kết với file Beans.xml liên kết qua constructor -->
	<bean id="addressBean" class="com.beanwiring.Address">
		<property name="district" value="Ha Noi"/>  
        <property name="street" value="Pham Hung"/>  
        <property name="houseNumber" value="889"/>
	</bean>
	<bean id="studentBean" class="com.beanwiring.Student">
		<constructor-arg value="18"/>
		<constructor-arg value="Nguyen Van A"/>
		<constructor-arg ref="addressBean"/>
	</bean>
	
	<!-- Ví dụ về liên kết với file Beans.xml liên kết qua setter -->
	<bean name="studentBeanSetter" class="com.beanwiring.Student">
		<property name="age" value="24" />
		<property name="name" value="Nguyen Van B" />
		<property name="address" ref="addressBean" />
	</bean>
	
	<!-- Ví dụ về liên kết inner bean -->
	<bean name="studentBeanInner" class="com.beanwiring.Student">
		<constructor-arg value="30" />
		<constructor-arg value="Nguyen Van C" />
		<constructor-arg>
			<bean class="com.beanwiring.Address">
			</bean>
		</constructor-arg>
	</bean>
	
	<!-- Tạo bean cho Subject -->
	<bean name="mathSubjectBean" class="com.beanwiring.Subject">
		<property name="name" value="Math"></property>
	</bean>
	<bean name="physicSubjectBean" class="com.beanwiring.Subject">
		<property name="name" value="Physic"></property>
	</bean>
	
	<!-- Ví dụ kết hợp bean với List, Map, Properties -->
	<bean name="studentBeanListMapPro" class="com.beanwiring.Student">
		<property name="age" value="69"></property>
		<property name="name" value="tnguyen443"></property>
		<property name="address" ref="addressBean"></property>
		<property name="books">
			<list>
				<value>Book1</value>
				<value>Book2</value>
				<value>Book3</value>
			</list>
		</property>
		<property name="timeTable">
			<map>
				<entry key="Monday" value-ref="mathSubjectBean"></entry>
				<entry key="Tuesday" value-ref="physicSubjectBean"></entry>
			</map>
		</property>
		<property name="hobbies">
			<props>
				<prop key="music">Jazz, Rock</prop>
				<prop key="TVShow">News, Games</prop>
			</props>
		</property>
	</bean>
</beans>